<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project #2 - Device Development 1.0</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h2>{{data.subject}}</h2>
    <h3>{{data.name}} / {{data.studentNumber}}</h3>
    <!-- show current image index -->
    <h4>Image {{showCurrentImageIndex()}} / {{data.images.length}} </h4>
    <div class="row">
      <!-- previous button -->
      <div class="col-md-1">
        <button *ngIf="!isFirstImage()" (click)="previousImageButton()" type="button" class="btn btn-info">
          < Go Back</button>
      </div>
      <!-- main image -->
      <div class="col-md-10" *ngIf="imageIndex!== null">
        <div class="thumbnail">
          <img [src]="data.images[imageIndex].path" class="img-thumbnail" alt="Main Image" style="width:100%">
          <div class="caption">
            <p>{{data.images[imageIndex].caption}}</p>
          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="col-md-1">
        <button *ngIf="!isLastImage()" (click)="nextImageButton()" type="button" class="btn btn-info">
          Go Forward ></button>
      </div>
    </div>
  </div>
  <!-- thumbnail images -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-1"></div>

        <div (click)="selectImage(i)" *ngFor="let image of data.images; let i = index" class="col-md-1"
          [class.active]="imageIndex === i">
          <img [src]="image.path" class="img-thumbnail" [alt]="image.caption">
        </div>

        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

</body>

</html>